body {
	background-color: black;
	margin: 0;

}

h1 {
	text-align: center;
	background-color: white;
	
}

h2 {
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}

#container {
	padding: 10 10 10 10;
	margin: 300px;
	max-width 60px;

}

#message {
	display: inline-block;
	width: 60%;
	color: white;
	text-align: center;
}

#reset {
	margin-left: 30px;
}

.navbar {
	align-items: center;
	background: grey;
}

#scoreBoard {
	background-color: white;
}

.circle {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1%;
	border-radius: 40%;

}