body {
	background-color: grey;
	margin: 0;

}

h1 {
	text-align: center;
}

#container {
	padding: 10 10 10 10;
	margin: 300px;
	max-width 60px;

}

#message {
	display: inline-block;
	width: 20%;
}

.navbar {
	align-items: center;
	background-color: white;
}



.circle {
	width: 30%;
	background-color: white;
	padding-bottom: 30%;
	float: left;
	margin: 1%;
	border-radius: 50%;

}